@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body{
    background: #F7F6F4;
}

h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    color: #000000;
    padding: 3% 5% 0% 5%;
    width: 100%;
}

h5 {
    font-weight: 200;
    font-size: 18px;
    margin-top: 15px;
}

/*NAV*/
  .logo {
    position: absolute;
    left: 2em;
    top: 1em;
    background: #246F75;
    z-index: 3;
    border-radius: 20px;
  }
/*END NAV*/

  /*REGISTRATION FORM*/
.form-control {
	height: 54px;
	box-shadow: 0px 1.5px rgba(0, 0, 0, 0.25);
	color: #969fa4;
}

.form-control, .btn {        
	border-radius: 5px;
}

.back{
    margin-left: 15px;
}
.signup-form {
	width: 1074px;
	margin: 0 auto;
	padding: 10px 0;
  	font-size: 15px;
}

.signup-form .form-check {
  	top: 10px;
    margin-left:90px;
    font-size: 20px;
}
  
.signup-form form {
	border-radius: 3px;
	background: #ffffff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	padding: 50px;
}

.signup-form .form-group {
	margin-bottom: 40px;
}

.signup-form .row div:first-child {
	padding-right: 20px;
}

.signup-form .row div:last-child {
	padding-left: 30px;
}

.signup-form p {
      font-weight: bold;
      font-size: 24px;
  }

  .btn-success {
	background-color: #F2BC1F;
    margin-top: 20px;
    margin-bottom: 40px;
	margin-left: 790px;
    width: 287px;
    height: 55px;
    border-style: none;
}
  /*END OF REGFORM*/
