/*NAV*/
.logo {
    position: absolute;
    left: 1em;
    top: 1em;
    background: #246F75;
    z-index: 3;
    border-radius: 20px;
}
/*END NAV*/

body {
    background: url(../assets/img/cart-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}