@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

* {
    font-family: 'Roboto', sans-serif; 
}

body
{
	background: #F7F6F4;
}

table
{
	background: #FFFFFF;
}

td
{
	max-height: 2vh;
}

#pending-orders, #store-applications, #partner-stores
{
	margin: auto;
	width: 75%;
}

hr
{
	border-top: 2px solid black;
	width: 10%;
	margin-left: 0;
}

.sort
{
	width: 25%;
	margin-bottom: 1%;
}

.fa-plus-square
{
	color: #27AE60;
}

.fa-plus-square:hover
{
	color: #008f3c;
}

.fa-trash-alt
{
	color: #F43131;
}

.fa-trash-alt:hover
{
	color: #f00000;
}

.stores
{
	padding: 5% 5% 1% 5%;
    width: 100%;
    height: 100%;
}

img
{
	width: 100%;
	height: 100%;	
}

.imgwrap
{
	padding: 0;
}

.search input, .search button
{
	width: 35%;
}

.search button
{
	background: #27AE60;
}

.search button:hover
{
	background: #008f3c;
}

.searchbtn, .inputfld {
	position: relative;
	display: inline-block;
}

