/*NAV*/
.logo {
    position: absolute;
    left: 1em;
    top: 1em;
    background: #246F75;
    z-index: 3;
    border-radius: 20px;
}
/*END NAV*/

/*HEADER*/
.underline {
    display: inline-block;
    position: relative;
    font-size: 35px;
}

.underline::before {
    content: none;
}

.underline::after {
    content: '';
    height: 2px;
    width: 50%;
    background: #000000;
    position: absolute;
    left: calc(11% - 10%);
    bottom: 1px;
}

.header {
    margin: 50px 100px;
    display: flex;
    align-items: center;
}

.header i  {
    margin-right: 8px;
}

.fa-arrow-circle-left:hover {
    color: rgb(128,128,128) !important;
}
/*END HEADER*/

body {
    background: url(../img/cart-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}