@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

* {
	font-family: Roboto, sans-serif;
}

body
{
	background: #F7F6F4;  
}

#container
{
	display: grid;
	grid-template-columns: repeat(3, [col] 33% );
	margin-top: 3%;
}

#left-contact
{
	grid-column: col / span 2;
    grid-row: row ;
    width: 75%;
    margin: 2%;
    margin-left: 5%;
    color: #787575;

}

#left-contact h1
{
	color: #379863;
	margin-block-start: 0.25em;
	margin-block-end: 0em;
}

#left-contact h3
{
	margin-block-end: 0.25em;
}

.rounded-border-green
{
	width: 100%;
	border: 0;
	border-top: 5px solid rgba(55, 152, 99, 0.8);
	border-radius: 2px;
	margin: 3px 3px;
}

#right-contact
{
	grid-column: col 3;
    grid-row: row ;
}

.socmed-bar
{
	width: 85%;
	height: 50px;
	padding: 2px;
}

.socmed-bar i
{
	padding: 0% 15%;
	display: inline-block;
	display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 30%;
    text-align: center;
	color: rgba(55, 152, 99, 0.8);
}

.socmed-bar i:hover
{
	color: rgba(0, 0, 0, 1);
}

.rounded-border
{
	margin: 10px 5px;
	width: 100%;
	border: 0px;
	border-top: 2px solid #bbb;
	border-radius: 2px;
}

form
{
	padding: 2% 10%;
	font-family: Roboto;
}

#message-form input, #message-form textarea
{
	width: 80%;
	font-size: 14px;
}

#message-form strong
{
	font-size: 20px;
}

form p
{
	font-size: 14px;
}

.btn-success
{
	background-color: rgba(55, 152, 99);
	margin-top: 5px;
	margin-left: 52%;
	width: 100px;
}
s