body {
    width: 100%;
    overflow-x: hidden;
}

header {
    margin-top: 85px;
    position: relative;
    height: 20vh;
    min-height: 100px;
    background: url(./media/header.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.mainContent {
    padding-top: 5vh;
}

.minHeight {
    min-height: 40vh;
}

.input-group {
    position: relative;
    max-width: 60%;
}

hr {
    width: 85%;
    margin-right: 15%;
}

.category {
    width: 100%;
    background: #FFFFFF;
    color: black;
    border: 1px solid #5CDB95;
    text-decoration: none;
    padding: 10px;
    text-align: left;
    transition: 0.3s;
}

a div.category:hover {
    color: green;
    border: 1px solid green;
    background:  rgb(255, 242, 201);
}

.category-active div {
    background: rgb(181, 252, 181);
  }

#products {
    z-index: 10;
}

.btn-active {
    background: #F26709;
    color: white;
    border: none;
}

/*NAV*/
.logo {
    position: absolute;
    left: 1em;
    top: 1em;
    background: #246F75;
    z-index: 3;
    border-radius: 20px;
}
/*END NAV*/

.pageNumbers {
    float: right;
    margin-right: 15%;
}