@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body{
    background: #F7F6F4;
}

html {
  scroll-behavior: smooth;
}

nav {
    position: relative;
    background: #246F75;
    text-align: center;
    line-height: 80px;
    z-index: 5;
}

  nav a {
    color: #FFFFFF;
    transition: 0.3s;
    border-bottom: solid thick #246F75;
    font-size: 16px;
  }

  nav a:hover {
    background: #072110;
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: solid thick #072110;
  }

  .nav-active {
    background: #072110;
    border-bottom: solid thick #F6E05E;
  }

  .logo {
    color: #F6E05E;
  }